.banner {
  background-color: #1f2732;
  flex-grow: 1;
  width: fit-content;
  height: fit-content;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding-top: 20px;
  display: flex;
  
}

.banner-info {
  margin-left: 20px;
  color: white;
  width: min-content;
}

.banner-info > p {
  font-family: "Quicksand", sans-serif;
  color: #ababab;
}

.banner-info-header-top {
  font-family: "Raleway Dots", cursive;
  font-size: 26px;
  letter-spacing: 8px;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #ababab;
}

.banner-info-header-bottom {
  opacity: 87%;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: 8px;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}

.banner-info-line {
  height: 2px;
  background-color: #c24d2c;
  width: 100%;
  margin-top: 10px;
}

.banner-info > p {
  width: 100%;
  font-size: 14px;
  font-weight: lighter;
}

.banner-infographic {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

.banner-infographic > img {
  align-self: flex-end;
  display: inline-block;
  object-fit: contain;
  height: 70vh;
}

.banner-stats {
  margin-right: auto;
  text-align: end;
  font-family: "Quicksand", sans-serif;
  color: #ababab;
  font-weight: 400;
}

.banner-stats-name {
  letter-spacing: 5px;
  font-weight: 900;
  color: #c24d2c;
}
