.banner {
  background-color: #1f2732;
  flex-grow: 1;
  width: 100%;
  height: fit-content;
  border-bottom-left-radius: 14px;
  padding-top: 20px;
  display: flex;
 
}

.banner-info {
  margin-left: 20px;
  color: white;
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.banner-info > p {
  font-family: "Quicksand", sans-serif;
  color: #ababab;
}

.banner-info-header-top {
  font-family: "Raleway Dots", cursive;
  font-size: 26px;
  letter-spacing: 8px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #ababab;
}

.banner-info-header-bottom {
  opacity: 87%;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: 8px;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}

.banner-info-line {
  height: 2px;
  background-color: #c24d2c;
  width: 100%;
  margin-top: 10px;
}

.banner-info > p {
  width: 100%;
  font-size: 14px;
  font-weight: lighter;
  
}

.banner-info-btn{
    background-color: white;
    opacity: 87%;
    border-radius: 3px;
    width: 170px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.banner-info-btn > h3{
    color: #17202E;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: small;
    margin: 2px;
}


.banner-info-about{
    margin-top: 90px;
    font-family: "Quicksand", sans-serif;
}

.banner-info-about > h2{
    margin: 0;
    font-weight: 500;
}

.banner-info-about > h1{
    margin: 0;
    color: #E3B100;
}

.banner-info-about > p{
    font-size: 14px;
    margin-top: 5px;
    color: #ababab;
}


.banner-infographic {
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

.banner-infographic > img {
  align-self: flex-end;
  /* display: inline-block; */
  object-fit: contain;
  height: 80vh;
  min-height: 100%;
}

.banner-stats {
  margin-right: auto;
  text-align: end;
  font-family: "Quicksand", sans-serif;
  color: #ababab;
  font-weight: 400;
}

.banner-stats-name {
  letter-spacing: 5px;
  font-weight: 900;
  color: #c24d2c;
}
