.navbar {
    display: flex;
    flex-direction: column;
    background-color: #101721;
    width: fit-content;
    height: 100vh;
    padding: 25px;
    position: sticky;
    border-right: 2px dashed #444444; 
    position: -webkit-sticky;

}

.navbutton-container{
    margin-top: 10px;
    height: 427px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.social-media-container{
    margin-top: 20px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    
}