.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101721;
    width: 9%;
    height: 100vh;
    position: sticky;
    border-right: 2px dashed #444444;    
}

.navbutton-container{
    margin-top: 64px;
    height: 427px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.social-media-container{
    margin-top: 36px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}