.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101721;
    width: fit-content;
    height: 100vh;
    padding: 5px;
    position: sticky;
    border-right: 2px dashed #444444; 
    position: -webkit-sticky;

}

.navbutton-container{
    margin-top: 30px;
    height: 427px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.social-media-container{
    margin-top: 20px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}