.slider-section{
    width:100%;
    background-color: #12171E;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 70px; 
    padding-right: 20px;
    margin-bottom: 20px;
    height: min-content;
    box-sizing: border-box;
    border-radius: 14px;

}

.slider-section > h4{
  margin-top: 46px;
  margin-bottom: 14px;
  font-family: "Quicksand", sans-serif;
  color: #ABABAB;
  font-weight: bold;
  font-size: large;
  letter-spacing: 5px;

}

.swiper{
    max-width: 100%;
    z-index: -5; 
    /* height: 400px; */
  }

  
  /* .project {
    background-color: whitesmoke;
    width: 250px;
    height: 300px;
    border-radius: 3px;
    padding: 60px;
  } */



/* MODAL-------------------- */
.project-modal{
    min-width: 500PX;
    width: 25%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #12171E;
    color: black;
    transform: translate(-50%, -50%);
    border: black solid;
    border-radius: 20px 20px 20px 20px;
    /* box-shadow: 0px 2px 0px 0px rgb(41, 230, 255); */
    overflow-y: scroll;
    overflow: hidden;
    z-index: 2;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 45px;
    font-family: "Quicksand", sans-serif;
    color:#ABABAB;

}

.project-modal > img{
    object-fit: cover;
    height: 40%; 
    width: 100%;
    border-radius: 14px;
}

.project-modal > h1 {
    color: #E3B100;
}

.technology{
    width: min-content;
    height: 2px;
    background-color: #17202E;
    padding:25px;
    display: flex;
    justify-content:center;
    align-items: center;
    

}

.technolgy-container{
    display: flex;
    justify-content: space-between;
}

